<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% for key, value in meta_info.items() %}
        {% if key == 'title' %}
          <title>{{value}}</title>
        {% elif key == "icon" %}
          <link rel="icon" type="image/x-icon" href="{{value}}">
        {% else %}
            <meta name="{{ key }}" content="{{ value }}">
        {% endif %}
    {% endfor %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="dark" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="light" />
  </head>
  <body>
    {% autoescape false %}
    {% block content %}{% endblock %}
    {% if not error %}
      <script class="serverScript">
          window.flask_react_app_props = {{react_props | tojson}};
          window.__body_style__ = JSON.parse(JSON.stringify(window.getComputedStyle(document.body)))
          window.__disableScroll__ = function(){
              document.body.style.overflow = 'hidden';
              document.body.style.position = 'fixed';
          
          };
          window.__enableScroll__ = function(){
            document.body.style.overflow = window.__body_style__.overflow;
            document.body.style.position = window.__body_style__.position;
          };
          window.__disableScroll__()
      </script>
    {% endif %}
    {% endautoescape %}
  </body>
</html>
