<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% for key, value in meta_info.items() %}
        {% if key == 'title' %}
          <title>{{value}}</title>
        {% elif key == "icon" %}
          <link rel="icon" type="image/x-icon" href="{{value}}">
        {% else %}
            <meta name="{{ key }}" content="{{ value }}">
        {% endif %}
    {% endfor %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="dark" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="light" />
  </head>
  <body>
    {% autoescape false %}
    {% block content %}{% endblock %}
    {% if not error %}
    <script class="serverScript">
      // Function to convert computed style object to a JSON string
        function computedStyleToJSON(computedStyle) {
          let styleObj = {};
          styleObj["overflow-x"] = computedStyle.getPropertyValue("overflow-x")
          styleObj["overflow-y"] = computedStyle.getPropertyValue("overflow-y")
          // for (let i = 0; i < computedStyle.length; i++) {
          //     let propName = computedStyle[i];
          //     let propValue = computedStyle.getPropertyValue(propName);
          //     styleObj[propName] = propValue;
          // }
          return styleObj;
        }
        window.flask_react_app_props = {{react_props | tojson}};
        if(!("__body_style__" in window)){
          window.__body_style__ = computedStyleToJSON(window.getComputedStyle(document.body));
        }
        window.__disableScroll__ = function(){
            document.body.style["overflow-x"] = 'hidden';
            document.body.style["overflow-y"] = 'hidden';
        
        };
        window.__enableScroll__ = function(){

          document.body.style["overflow-x"] = window.__body_style__["overflow-x"];
          document.body.style["overflow-y"] = window.__body_style__["overflow-y"];
        };
        window.__disableScroll__()
    </script>
    {% endif %}
    {% endautoescape %}
  </body>
</html>
